<div class="d-flex flex-column align-items-center justify-content text-center">
  <div class="donate card">
    <div class="row m-0">
      <div class="col-md-6 col-sm-6 col-xs-12 card-body">
        <h4 class="mb-3">Donasi</h4>
        <p>Donasi bisa diberikan melalui akun bank di bawah atau formulir berikut</p>
        <blockquote class="blockquote mb-4">
          <p>2110050111</p>
          <footer class="blockquote-footer">Bank Muamalat</footer>
        </blockquote>
        <p>Terima Kasih</p>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12 p-0">
        <iframe src="https://donorbox.org/embed/istaid" class="mb-3" height="400px" width="100%" style="max-width:400px; min-width:100px; max-height:575px;" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
      </div>
    </div>
  </div>
</div>
<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>