<div class="d-flex flex-column justify-content text-center">
  <h2>Donasi</h2>
  <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/istaid" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important; margin: auto;" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
</div>