<div class="container">

<h1>Edit Event</h1>
<%= link_to admin_events_path, class:'btn waves-effect waves-light' do %>
  <i class="material-icons left">arrow_back</i>Back
<% end%>
<br>
<%= render 'form' %>
</div>

<%= javascript_include_tag Ckeditor.cdn_url%>