<div class='blog text-center'>
  <h1 class="center-align"> Video </h1>

  <div class='flex-container'>

    <% @videos.each do |video| %>
    <%= link_to video do %>
    <div class='video'>
      <div class="card hoverable z-depth-1">
        <div class="card-image">
          <% unless video.thumbnail.nil? %>
            <%= image_tag video.thumbnail, class: 'thumbnail responsive-img' %>
          <% end %>
          <span class="card-title"><%= video.title%></span>
        </div>
      </div>
    </div>
    <% end%>
    <% end %>
  </div>
  <div class="center">
    <%= will_paginate @videos, renderer: @custom_paginate_renderer %>
  </div>
</div>