<div class='container-fluid text-center'>
  <h2 class="center-align mt-3"> Video </h2>

  <div class="d-flex flex-wrap justify-content-center" >
    <% @videos.each do |video| %>  
      <div class="video card bg-dark text-white shadow m-3 border-0">
        <%= link_to video do%>
          <div class="card-img-overlay d-flex align-items-end justify-content-center rounded">
            <p class="card-title font-weight-bold"><%= video.title %></p>
          </div>
        <% end %>
        <% unless video.thumbnail.nil? %>
          <%= image_tag video.thumbnail, class: 'card-img img-fluid' %>
        <% end %>
      </div>
    <% end %>
    <!-- Card -->
  </div>
  <div class="center">
    <%= will_paginate @videos, renderer: @custom_paginate_renderer %>
  </div>
</div>