<div class="container">
<h1 class='center'> <%= @video.title %>
  <div class='card'>
    <div class='card-image'>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@video.youtube_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>