@import 'shared';
h3 {
  color: $text-color;
}

.admin .pagination > li > a{
  color: black;
}

.admin .pagination > li.active > a {
  color: $text-color;
}

.image-container.card {
  padding: 0;
  width: 300px;
  height: 100%;
  text-align: center;
  margin: 10px;
}