<div class="container">
  <h1 class="center-align"> Tentang Kami</h1>
  <div class="card-panel center-align">
    <h4> ISTAID (Islamic Thought and Information for Dakwah) </h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.9910348363346!2d98.64983041475855!3d3.5895307973878925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30312e2f74e63eab%3A0x42455944d1e2ad0e!2sIstaid+Center!5e0!3m2!1sen!2smy!4v1532795641633" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    <%= image_tag "istaid-center.jpg"%>
    <div class="left-align">
    <p>Yayasan ISTAID (Islamic Thought and Information for Dakwah) adalah sebuah lembaga dakwah bersifat nirlaba yang bertujuan untuk membantu pemerintah Indonesia dalam meningkatkan keimanan dan ketaqwaan masyarakat disamping mencerdaskan kehidupan masyarakat sehingga bangsa Indonesia dapat menjadi bangsa yang mempunyai prestasi di dunia dan di akhirat. </p>
    <p>Usaha tersebut mulai direalisasikan dengan menerbitkan Buletin Jumat ISTAID No. 1 pada 23 April 1993 bertepatan dengan 1 Dzul Qa’dah 1413 H. Buletin tersebut ditulis oleh Muhammad Arifin Ismail, sebagai amal jariyah dalam meningkatkan keilmuan dan wawasan masyarakat muslim melalui penyebaran buletin tersebut di masjid-masjid baik di kalangan perumahan maupun di kalangan perkantoran.</p> 
    <p>Alhamdulilah, bulletin tersebut dapat diterima oleh masyarakat Sumatera Utara, khususnya kota Medan, terbukti hingga saat ini, bulletin tersebut setiap minggu disebarkan sebanyak 6000 eksemplar. Disamping itu sejak tahun 2004, atas permintaan masyarakat, bulletin tersebet juga dicetak di Kisaran dan disebarkan kepada masyarakat. Pada tahun 2008 tulisan yang sama juga dicerak di Padang, dengan nama bulletin Ulul Albab, yang diterbitkan oleh Yayasan Ulul Albab Padang dengan tiras 2000 eksemplar. Pada tahun 2011 tulisan yang sama dicetak di Jakarta oleh Yayasan al-Manar dengan tiras 2000. Alhamdulillah pada hari jumat tanggal 29 Juni 2012, Buletin Jumat ISTAID ini diterbitkan dengan nomor penerbitan yang ke 1000, yang terbit setiap jumat dan ditulis oleh penulis yang tetap.</p>
    
    <p><strong>MOTTO:</strong></p>

    <p>1.&nbsp;Gali Potensi, Raih Prestasi, Gapai Ridha Ilahi.</p>

    <p>2.&nbsp;Muslim Khalifah, Umatan Wasatha, Khairu Ummah, Rahmatan lil alamin.</p>

    <p><strong>VISI:</strong></p>

    <p>Menjadi pusat kajian ilmu, informasi, pendidkan/pelatihan kepemimpinan umat yang berkualitas dalam mempersiapkan masyarakat yang berperadaban di masa mendatang.</p>

    <p><strong>MISI:</strong></p>

    <p>1. Membimbing individu menjadi hamba dan khalifah yang berprestasi. (QS. 24: 55)</p>

    <p>2. Membentuk generasi mendatang menjadi generasi berkualitas. (QS. 3: 79)</p>

    <p>3. Mempersiapkan masyarakat untuk menjadi masyarakat teladan. (QS. 3: 104, 110)</p>

    <p><br />
    <strong>TUJUAN:</strong></p>

    <p><br />
    <strong>A. Tujuan Umum</strong></p>

    <ol>
    	<li>Menyadarkan ummat atas beberapa kelemahan dan kesalahan dalam pemahaman dan pelaksanaan ajaran Islam.</li>
    	<li>Memberikan informasi terkini tentang kondisi umat dan memberikan gambaran tentang sikap dan solusi yang dilakukan sesuai dengan nilai-nilai iman dan taqwa.</li>
    	<li>Meningkatkan kualitas ilmu dan wawasan keagamaan sehingga agama Islam dapat menjadi&nbsp; landasan dalam seluruh aspek kehidupan.</li>
    	<li>Mendidik generasi muslim berkualitas sehingga dapat menjadi generasi teladan di masa mendatang.</li>
    </ol>

    <p><strong>B. Tujuan Khusus</strong></p>

    <ol>
    	<li>Menjadi tempat bertanya bagi umat dalam setiap pesoalan kehidupan berlandaskan pada nilai-nilai keislaman dan keimanan.</li>
    	<li>Menjadi&nbsp; pusat pendidikan&nbsp; masyarakat dan generasi muda sehingga menjadi generasi rabbani dan masyarakat madani.</li>
    	<li>Menjadi pusat kajian (research center) sehingga dapat memberikan solusi, strategi, dan kebijaksanaan alternatif bagi mewujudkan masyarakat yang berkualitas.</li>
    </ol>

    <p><strong>PELAYANAN UMAT YANG TELAH DILAKUKAN:</strong></p>

    <p>Demi tercapainya tujuan tersebut maka selama ini ISTAID telah mengadakan beberapa kegiatan dalam pelayanan umat:</p>

    <ol>
    	<li>Menerbitkan dan mengedarkan lembaran dakwah, dengan nama Renungan Jumat ISTAID yang beredar sejak 1 Dzul Qa&rsquo;dah 1413 H / 23 April 1993. Sampai saat ini lembaran tersebut telah beredar sebanyak 2.100 nomor dengan oplah sekitar 6000 lembar/nomor yang terbit setiap Jumat dan dibaca oleh masyarakat luas di daerah Sumatera Utara dan Aceh melalui lebih dari 80 masjid, perkantoran, dan majlis taklim. Buletin Jumat ISTAID bertujuan untuk memberikan wawasan keislaman kepada umat sesuai dengan perkembangan situasi dan kondisi sehingga nilai-nilai Islam dapat menjadi solusi bagi setiap problematikan kehidupan.</li>
    	<li>Melaksanakan pesantren kilat bagi remaja dan generasi muda muslim dengan penekanan pada peningkatan motivasi berprestasi muslim (Moslem Achiement Motivation Training) yang lebih berpusat pada pembentukan nilai-nilai tauhid, pembentukan semangat (ghirah) Islam dan peningkatan prestasi sebagai hamba dan khalifah. Selama ini ISTAID telah diberi kepercayaan untk mengelola pesantren kilat Remaja PT. PLN,&nbsp; dan Generasi Muda PT. Inalum &ndash; Asahan, juga menjadi koordinator Pesantren Kilat Ramadhan PT. Arun &ndash; Ngl, Lho&rsquo;seumawe.</li>
    	<li>Pada tahun 1997, ISTAID mengadakan Pendidikan Guru Taman Kanak-kanak Islam yang pertama di Sumatera utara, yang bertujuan untuk mencetak guru-guru taman kanak-kanak Islam yang profesional dan berkepribadian Islami sehingga dapat melahirkan generasi pilihan. Program pendidikan tersebut telah dapat melahirkan sekitar 150 alumni yang telah berkiprah di masyarakat sebagai guru TK Islam atau sebagai pengelola TK Islam di daerah Sumatera Utara.</li>
    	<li>Pada tahun 1997 &ndash; 2003 membina masyarakat miskin dan terbelakang di desa binaan dengan cara mengadakan pendidikan Taman Pendidikan Al-Quran/Islam secara gratis untuk masyarakat miskin di desa binaan, seperti yang telah dilakukan di Desa Labuan, di Belawan bekerjasama dengan Bapinroh Islam PT. PLN Wilayah II Medan.</li>
    	<li>Mengadakan pengajian rutin (majlis taklim) dengan materi tafsir, fiqih ibadah, dan wawasan Islam yang diikuti oleh masyarakat secara terbuka.</li>
    	<li>Mengadakan diskusi dan seminar tentang ke-islaman seperti Seminar Anak Shaleh, Diskusi Hijrah, dan lain sebagainya.</li>
    </ol>

    <p><strong>SEJARAH DAN PROGRAM ISTAID CENTER</strong></p>

    <p>Sejak penerbitan bulletin ISTAID pada tahun 1993, maka seluruh kegiatan ISTAID berjalan tanpa memiliki bangunan yang dapat dipakai sebagai pusat kegiatan secara permanen. Akibat selalu berpindah tempat maka beberapa program ISTAID terkendala sehingga sampai saat ini kegiatan yang berjalan hanya penerbitan Buletin Jumat ISTAID yang tetap dipertahankan melihat animo masyarakat yang terus meningkat untuk bahan bacaan yang berkualitas. Pada tahun 2007, penulis bulletin melanjutkan studi ke Malaysia dan juga mulai aktif mengisi pengajian di masjid-masjid di Malaysia. Pada tahun 2011, keluarga almarhum Ismail Ulung menyediakan rumah keluarga yang berada di Jalan Gatot Subroto &ndash; Medan, sebagai tempat kegiatan. Dengan bantuan dermawan muslim baik di kota Medan dan Malaysia, maka rumah almarhum tersebut dibangun tiga tingkat sebagai tempat pusat kegiatan Ilmu dan Dakwah yang dikelola ISTAID. Alhamdulillah pada tahun 2012, pembangunan gedung ISTAID tersebut dapat dipakai dengan kompisisi ruangan majlis taklim di tingkat bawah, delapan kelas di tingkat 2, dan perpustakaan di tingkat atas. Diharapkan bangunan tersebut dapat berfungsi sebagai pusat ilmu&nbsp; dan dakwah bagi masyarakat.</p>

    <p>Dengan adanya bangunan tersebut, ISTAID akan menitik beratkan pada peningkatan kualitas ulama, khatib, ustadz, guru pondok pesantren, sehingga dengan peningkatan kualitas tersebut dapat meningkatkan pelayanan keilmuan kepada masyarakat. Diantara program yang akan dilakukan untuk tujuan tersebut adalah:</p>

    <p><br />
    <strong>Program Harian:</strong></p>

    <p>(1)&nbsp;Mengadakan majlis ilmu secara komprehensif dan terpadu berdasarkan kitab dari ulama yang mempunyai otoritas keilmuan yang diajarkan secara bertahap, yang diajarkan oleh ustadz dan guru yang mempunyai otoritas keilmuan.</p>

    <p>(2)&nbsp;Memberikan pelayanan konsultasi agama kepada masyarakat yang memerlukan baik bersifat langsung maupun melalui komunikasi telepon atau internet.</p>

    <p><br />
    <strong>Program Mingguan:</strong></p>
    
    <p>(1)&nbsp;ISTAID Center akan mengadakan program mingguan Kajian Islam Sabtu-Minggu (Week-End Islamic Understanding Course), dengan kajian tematik dan bermodul, seperti Ekonomi Islam, Rumah Tangga Islam, Manajemen Islam, dan lain sebagainya.</p>
    
    <p>(2)&nbsp;Menerbitkan bulletin Jumat ISTAID setiap hari Jumat, yang diedarkan ke masjid-masjid sehingga dapat diharapkan menjadi media untuk meningkatkan kualitas ilmu dan keimanan&nbsp; masyarakat.</p>
    
    <p><strong>Program Bulanan:</strong></p>
    
    <p>Setiap bulan akan diadakan Seminar dan Dialog inter-disiplin ilmu&nbsp; dan profesi dengan pakar-pakar dalam keilmuan masing-masing yang akan diikuti oleh ulama, pimpinan pondok, dosen-dosen agama, tokoh ormas Islam, dan lain sebaginya. Diharapkan forum ini dapat menjadi wadah ukhuwah dan silaturahmi antar pemuka agama.</p>
    
    <p><br />
    <strong>Program Tiga Bulanan:</strong></p>
    
    <p>Setiap tiga bulan akan diadakan Workshop berkaitan dengan agama dan dakwah yang diikuti oleh ulama, pimpinan pondok,, nazir-nazir masjid, pimpinan ormas Islam, dosen perguruan tinggi Islam, berkaitan dengan isu-isu pemikiran islam yang berkembang. Diharapkan forum ini dapat memperluas wawasan pemimpin umat dalam melihat problematika umat dan dapat mencari solusi dalam menyelesaikannya dengan landasan ilmu dan langkah yang bijak.</p>
    
    <p><br />
    <strong>Program Enam Bulan:</strong></p>
    
    <p>Mengadakan Pendidikan Kader Ulama sehingga diharapkan dapat melahirkan ulama-ulama yang berilmu, berwawasan dan dapat berkiprah sesuai dengan perkembangan informasi dan teknologi, yang dapat menuntun masyarakat yang berkualitas di masa mendatang.</p>
    
    <p><strong>Program Tahunan:</strong></p>
    
    <p>Mengadakan Pertemuan selaturahmi antar ulama, cendekiawan muslim, pimpinan pondok, pimpinan ormas Islam untuk mendapatkan masukan informasi atas keadaan umat, dan mencari solusi dakwah yang tepat dan bijak sesuai dengan keadaan tempat dan situasi.</p>
    
    <p><br />
    <strong>Perpustakaan:</strong></p>
    
    <p>ISTAID berusaha untuk melengkapi perpustakaan khususnya yang berkaitan dengan keislaman dan Dakwah, sehingga dapat menjadi tempat rujukan bagi ulama, dan guru, serta masyarakat umum dalam memahami ajaran agama bersumber dari ulama dan kitab yang berkualitas.</p>

    </div>
  </div>
</div>