<div class="container center-aligned">
  <div class="card-panel donate-card center">
  <div class="center">
    <h4>Donasi</h4>
    <p> Silakan transfer ke rekening berikut untuk melakukan donasi<p>
    <blockquote>
      <p>Bank       : Bank Muamalat</p>
      <p>No. Akun   : 2110050111 </p>
    </blockquote>
    <p>Terima Kasih</p>
    <br>
    </div>
  </div>
</div>