<div class="container center-aligned">
  <div class="card-panel donate-card center">
  <div class="center">
    <h3>Donasi</h3>
    <p> Silakan transfer ke rekening berikut untuk melakukan donasi<p>
    <blockquote> 1234-5678-12345</blockquote>
    <p>Terima Kasih</p>
    <br>
    </div>
  </div>
</div>