<div class="container center-align">
  <h1> Tim Istaid </h1>
  <div class="flex-container">
    <% 6.times do %>
    <div class="card person-card">
      <div class="card-image">
          <%= image_tag "nak-avatar.jpg" %>
          <span class="card-title">Nouman Ali Khan <br> CEO</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    <% end%>
  </div>
</div>