<div class="card single-card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <%= link_to edit_admin_gallery_path(@gallery), class:'btn dark-gradient waves-effect waves-light' do %>
        <i class="fas fa-arrow-left"></i> Back
      <% end%>
      <h2 class="float-none text-center">Edit Gallery Images </h2>
      <div></div>
    </div>
    <%= form_for [:admin, @gallery, @gallery.gallery_images.build] do |f| %>
      <div class="custom-file mb-4">
        <%= f.file_field :image, multiple: true, name: 'gallery_image[image]', class: 'custom-file-input' %>
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    <% end %>
    <div id='gallery_images' class='flex-container'>
      <%= render @gallery_images %>
    </div>
  </div>
</div>
<script>
$(window).load(function(){
  $('#new_gallery_image').fileupload({
    dataType: 'script'
  })
})
</script>

