<div class="container">

<h1>Edit Category</h1>
<%= link_to admin_categories_path, class:'btn waves-effect waves-light' do %>
  <i class="material-icons left">arrow_back</i>Back
<% end%>
<br>
<%= render 'form' %>
</div>