<div class="card single-card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <%= link_to admin_categories_path, class:'btn dark-gradient' do %>
        <i class="fas fa-arrow-left"></i> Back
      <% end%>
      <h2 class="float-none text-center">New Category </h2>
      <div></div>
    </div>
  <br>
  <%= render 'form' %>
  </div>
</div>