/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require social-share-button
 *= require bootstrap
 *= require mdb
 *= require_tree .
 *= require_self
 */
@import "lightbox";
//@import "social-share-button";
@import 'shared';
// $secondary-color: color("yellow", "base") !default;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "bootstrap";
@import "font-awesome";

//social share button size
$share-icon-size: 30px;
@font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-Bold.otf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-Bold.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-BoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-MediumItalic.otf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-Light.otf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: 'BrandonText';
  src: font-url('BrandonText-LightItalic.otf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

body {
    margin: 0px;
    font-family: 'Roboto', 'Montserrat','BrandonText', ;
    background-color: $background-color;
    color: $text-color;
}

nav {
  padding-left: 20px;
  background-color: $primary-color;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.img_prev {
  object-fit: cover;
  width: 400px;
  height: 300px;
}

.thumbnail {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.margin-10 {
  margin: 10px;
}

.carousel-item {
  object-fit: cover;
}

#notice, #error_explanation {
  display: none;
}

h1 {
  color: $text-color;
}

.pagination > li > a{
  color: $text-color;
}


.social-share-button {
  .ssb-icon {
    background-size: $share-icon-size $share-icon-size;
    height: $share-icon-size;
    width: $share-icon-size;
  }
}


.iframe-video {
	height: 0px;
	padding-top: 25px;
	padding-bottom: 56.2%;
	position: relative;
}
.iframe-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

.dark-gradient, .btn-primary, .active .page-link {
  background: linear-gradient(40deg, #0F2027, #203A43) !important;
  //background: linear-gradient(40deg,#0ba360, #3cba92) !important;
  //background: linear-gradient(40deg,#13547a, #80d0c7) !important;
  color: white;
  border: none;
}

.second-gradient {
  //background: linear-gradient(40deg, #0F2027, #203A43) !important;
  background: linear-gradient(40deg,#13547a, #80d0c7) !important;
  color: white;
}

.dark-gradient:hover {
  color: #AAA;
}

$share-icon-size: 40px;
.social-share-button {
  .ssb-icon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 8px 10px;
    background-size: $share-icon-size;
    border-radius: 5px;
    height: $share-icon-size;
    width: $share-icon-size;
  }

  .ssb-icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3px 5px;
    background-size: $share-icon-size+ 5;
    border-radius: 5px;
    height: $share-icon-size + 5;
    width: $share-icon-size + 5;
  }
}

.card.single-card {
  width:100%;
  max-width: calc(100vw - 160px);
  margin: 50px 80px;

  .card-body {
    margin: 0 80px;
  }
}

@media only screen and (max-width: 768px) {
  .img_prev {
    object-fit: cover;
    width: 80vw;
  }

  .card.single-card {
    min-height: 95vh;
    height: 100%;
    max-width: 100vw;
    margin: 0px;
    .card-body {
      margin: 0 10px;
    }
  }
}