/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: #00B24A !default;
// $secondary-color: color("yellow", "base") !default;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";

@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-Bold.otf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-Bold.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-BoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-MediumItalic.otf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-Light.otf') format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: 'BrandonText';
  src: url('BrandonText-LightItalic.otf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

body {
    margin: 0px;
    font-family: 'BrandonText';
    background-color: #FCFCFC;
}

nav {
  padding-left: 20px;
  background-color: #00B24AF5;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.img_prev {
  display: none;
  object-fit: cover;
}

.thumbnail {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.margin-10 {
  margin: 10px;
}

.carousel-item {
  object-fit: cover;
}

#notice {
  display: none;
}