// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'shared';
.header-banner {
  text-align: center;
  width: 100vw;
  height: 100%;
  color: white;
  box-sizing: border-box;
  font-size: 2em;

  .banner-tab.col {
    margin: 20px;
    position: relative;
    padding: 0px;
    width: 450px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($primary-color, 221);
  overflow: hidden;
  width: 100%;
  height: 1.5em;
  transition: .5s ease;
}

.banner-tab.col:hover .overlay{
  height: 100%;
}

.overlay-text {
  white-space: nowrap; 
  color: white;
  font-size: 1em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.blog {
  margin: 0px;
  padding: 20px 0px;
  background-color: $background-color;
  color: $text-color;
}

.categories {
  a {
    margin: 3px;
  }
}

.post {
  margin: 20px;
  margin-bottom: 40px;
  width: 400px;
  height: 550px;
  color: $text-color;
  .card {
    background-color: white;
    .card-image {
      height: 300px;
      width: 400px;
      background-color: white;
      img {
        width: auto;
        height: 100%;
      }
    }
    .card-content {
      padding-top: 5px;
      h5 {
        color: $invert-text-color;
      }
      p {
        color: $invert-text-color;
      }
    }
    .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
      color: $primary-color;
    }
  }
}

.event {
  color: $text-color;
  .card {
    width: 350px;
    background-color: white;
    margin: 20px;
    .card-image {
      height: 300px;
      background-color: white;
      img {
        width: auto;
        height: 100%;
      }
    }
    .card-content {
      padding-top: 5px;
      h5 {
        color: $invert-text-color;
      }
      p {
        color: $invert-text-color;
      }
    }
    .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
      color: $primary-color;
    }
  }
}

.video {
  color: $text-color;
  .card {
    margin: 20px;
    background-color: white;
    .card-image {
      height: 300px;
      background-color: white;
      img {
        width: auto;
        height: 100%;
      }
    }
    .card-content {
      padding-top: 5px;
      h5 {
        color: $invert-text-color;
      }
      p {
        color: $invert-text-color;
      }
    }
    .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
      color: $primary-color;
    }
  }
}

.single-post, .single-event {
  padding-bottom: 100px;
  color: $text-color;
}
.post-content {
  font-size: 1.5em;
}
.comment-box {
  width: 800px;
  color: $invert-text-color;
  .comment-header {
    padding: 0px 20px;
  }
  .comment-content {
    width: 600px;
    padding: 5px 20px;
    font-size: 1.5em;
  }
}

.reply {
  textarea {
    min-height: 8rem;
    color: white;
  }
  input {
    color: white;
  }
}

.inline-icons {
  vertical-align: bottom;

}

//FORM
#summary-textarea {
  height: 6rem;
}

.comment-avatar {
  width: 100px;
  height: 100px;
}

.comment-box {
  .reply-box .comment-box {
    width: 100%;
    max-width: 800px;
  }
}

.video iframe {
  width: 560px;
  height: 360px;
}

@media only screen and (max-width: 1366px) {
  .header-banner {
    .banner-tab.col {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 405px) {
  .header-banner {
    .banner-tab.col {
      width: 250px;
    }
  }

  .post {
    margin: 20px;
    margin-bottom: 40px;
    width: 300px;
    height: 450px;
    color: $text-color;
    .card {
      background-color: white;
      .card-image {
        height: 200px;
        width: 300px;
        background-color: white;
        img {
          width: 100%;
          height: auto;
        }
      }
      .card-content {
        padding-top: 15px;
        h5 {
          color: $invert-text-color;
        }
        p {
          color: $invert-text-color;
        }
      }
      .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
        color: $primary-color;
      }
    }
  }

  .event {
    color: $text-color;
    .card {
      width: 300px;
      background-color: white;
      margin: 20px;
      .card-image {
        height: 300px;
        background-color: white;
        img {
          width: auto;
          height: 100%;
        }
      }
      .card-content {
        padding-top: 5px;
        h5 {
          color: $invert-text-color;
        }
        p {
          color: $invert-text-color;
        }
      }
      .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
        color: $primary-color;
      }
    }
  }

  .single-post, .single-event {
    padding-bottom: 100px;
    color: $text-color;
  }
  .post-content {
    font-size: 1.5em;
  }
  .comment-box {
    width: 800px;
    color: $invert-text-color;
    .comment-header {
      padding: 0px 20px;
    }
    .comment-content {
      width: 600px;
      padding: 5px 20px;
      font-size: 1.5em;
    }
  }

  .video iframe {
    margin: 10px;
    width: 300px;
  }
}