// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'shared';

.card {
  border-radius: 20px;
}

.card-img-overlay {
  background-color: rgba(0,0,0,0.1);
  background-image: linear-gradient(to right, #0F2027DD, #203A43DD);
  border-radius: 20px;
  opacity: 1;
  transition: opacity 1s;
}

.card-img-overlay:hover {
  background-color: rgba(0,0,0,0.4);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.form-control:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  .header-banner.flex-container {
    display: none;
  }
}

.event {
  color: $text-color;
  .card {
    width: 350px;
    background-color: white;
    margin: 20px;
    .card-image {
      height: 300px;
      background-color: white;
      img {
        width: auto;
        height: 100%;
      }
    }
    .card-content {
      padding-top: 5px;
      h5 {
        color: $invert-text-color;
      }
      p {
        color: $invert-text-color;
      }
    }
    .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
      color: $primary-color;
    }
  }
}

.video {
  color: $text-color;
  .card {
    margin: 20px;
    background-color: white;
    .card-image {
      height: 300px;
      background-color: white;
      img {
        width: auto;
        height: 100%;
      }
    }
    .card-content {
      padding-top: 5px;
      h5 {
        color: $invert-text-color;
      }
      p {
        color: $invert-text-color;
      }
    }
    .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
      color: $primary-color;
    }
  }
}

.single-post, .single-event {
  padding-bottom: 100px;
  color: $text-color;
}
.post-content {
  font-size: 1.5em;
}
.comment-box {
  width: 800px;
  color: $invert-text-color;
  .comment-header {
    padding: 0px 20px;
  }
  .comment-content {
    width: 600px;
    padding: 5px 20px;
    font-size: 1.5em;
  }
}

.reply {
  textarea {
    min-height: 8rem;
    color: white;
  }
  input {
    color: white;
  }
}

.inline-icons {
  vertical-align: bottom;

}

//FORM
#summary-textarea {
  height: 6rem;
}

.comment-avatar {
  width: 100px;
  height: 100px;
}

.comment-box {
  .reply-box .comment-box {
    width: 100%;
    max-width: 800px;
  }
}

.video iframe {
  width: 560px;
  height: 360px;
}

@media only screen and (max-width: 1366px) {
  .header-banner {
    .banner-tab.col {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 405px) {
  .header-banner {
    .banner-tab.col {
      width: 250px;
    }
  }

  .event {
    color: $text-color;
    .card {
      width: 300px;
      background-color: white;
      margin: 20px;
      .card-image {
        height: 300px;
        background-color: white;
        img {
          width: auto;
          height: 100%;
        }
      }
      .card-content {
        padding-top: 5px;
        h5 {
          color: $invert-text-color;
        }
        p {
          color: $invert-text-color;
        }
      }
      .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
        color: $primary-color;
      }
    }
  }

  .single-post, .single-event {
    padding-bottom: 100px;
    color: $text-color;
  }
  .post-content {
    font-size: 1.5em;
  }
  .comment-box {
    width: 800px;
    color: $invert-text-color;
    .comment-header {
      padding: 0px 20px;
    }
    .comment-content {
      width: 600px;
      padding: 5px 20px;
      font-size: 1.5em;
    }
  }

  .video iframe {
    margin: 10px;
    width: 300px;
  }
}