// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.person-card.card {
  width: 250px;
  height: 400px;
  img {
    max-width: 250px;
    height: 300px;
    max-height: 400px;
    object-fit: cover;
  }
  margin: 20px;
}


.donate.card {
  margin: 50px 50px;
  max-width: 800px;
  .card-body{
    padding: 25px;
  }
}

.tentang-kami {
  color: black;
  h1, h2, h3, h4, h5, h6{
    color: black;
  }
}

@media only screen and (max-width: 768px) {
  .donate.card {
    margin: 0px;
    max-width: 100vw;
  }
}