// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.person-card.card {
  width: 250px;
  height: 400px;
  img {
    max-width: 250px;
    height: 300px;
    max-height: 400px;
    object-fit: cover;
  }
  margin: 20px;
}


.donate-card.card-panel {
  width: 500px;
  height: 400px;
  font-size: 2em;
  margin: 50px auto;
}